/* default element style overriding */
h1 {
	margin: 0px 0px 10px 0px;
}

/* major page elements/containers */
body {
	background: lavender;
	background-image: url("lavender.png");
	background-position: 1% 0%;
	background-repeat: no-repeat;
	color: dimgray;
	margin: 0px;
}
.resume {
	background: white;
	color: purple;
}
.center {
	text-align: center;
}
.container {
	padding: 10px;
}

/* button styling */
.btn-md {
	font-size: medium;
	border-radius: 10px;
	border: none;
}
.btn-md:hover {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.24);
    transition-duration: 0.2s;
    cursor: pointer;
	outline: none;
}
.btn-md:focus {
	outline: none;
}
.btn-md:active {
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.24), 0px 0px 2px 2px rgba(0,0,0,0.44) inset;
}

/* image styles */
.img-round-sm {
	border-radius: 5px;
}
.img-round-lg {
	border-radius: 30px;
}

/* specific elements */
#switch_btn {
	margin-top: 7px;
}

/* hacks */
.vspace {
	padding: 5px;
}